/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/*CONFIGURACION GENERAL*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #222222;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.titulo_secciones {
    font-size: 21px;
    color: #04a0c3;
    text-transform: uppercase;
    text-align: center;
    margin: 45px 10px 10px;

}

.descripcion_titulo_secciones {
    text-align: center;
    font-weight: 100;
}

.descripcion_titulo_secciones::after {
    content: ' ';
    display: block;
    width: 70px;
    margin: 15px auto 15px;
    border: 2px solid #ce7604;
    border-radius: 4px;
}

/*CONTACTO SUPERIOR*/

#contacto_sup {
    justify-content: space-between;
    padding: 7px 0;
    border-bottom: 1px dashed #222222;
}

#email_sup {
    height: 26px;
    line-height: 26px;
}

#email_sup a {
    text-decoration: none;
    color: #222222;
}

#email_sup a:hover {

    color: #F58220
}

#menu_supe li {
    height: 26px;
    line-height: 26px;
    padding-left: 15px;
}

#menu_supe li:first-child {
    padding-left: 0px;
}

#menu_supe li:first-child a {
    text-decoration: none;
    color: #222222;
}

#menu_supe li:first-child a:hover {
    color: #F58220
}

#menu_supe li a i {
    font-size: 26px;
    color: #222222;
    margin-top: 3px;
}

#menu_supe li a:hover i {
    color: #F58220
}

#menu_supe li:last-child i {
    border-right: 2px solid #222222;
    padding-right: 15px;
}

/* MENU Y LOGO */

.centrado{
		    margin:10px auto;
		    display:block;
    }
#navbar_sup li {
    margin-left: 14%;
    height: 40%;
    line-height: 30px;
}

#navbar_sup li a {
    text-decoration: none;
    color: #222222;
    font-size: 15px;

}

#navbar_sup li a:hover {
    color: #F58220;
}

#logo_menu {
    padding: 12px 0;
    justify-content: space-between;
    background-size: cover;
    width: 100%;
}

/*MENU DESPLEGABLE*/

.menu_bar {
    display: none;
}


#navbar_sup li .children {
    display: none;
    background-color: #F58220;
    position: absolute;
    z-index: 1000;
}

#navbar_sup li:hover .children {
    display: block;
}

#navbar_sup li .children li {
    line-height: 30px;
    height: auto;
    margin: 0;
}

#navbar_sup li .children li:hover {
    background-color: #F58220;

}

#navbar_sup li .children li a {
    display: block;
    padding: 5px 10px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#navbar_sup li .children li:last-child a {
    border-bottom: none;
}

/*CONOCE*/


.cont_titulo_seccion h2 {
    color: #222222;
}

#cont_articulos {
    padding-right: 10px;
}

#cont_video_boletin {
    padding-left: 30px;
}


#cont_articulos,
#cont_video_boletin {
    flex: 1;
}

#ultimos_articulos h3,
#cont_video_boletin h3 {
    border-bottom: 4px solid #008E97;
}

#ultimos_articulos h3 span,
#cont_video_boletin h3 span {
    background-color: #008E97;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 10px 6px 10px;
    display: inline-block;
}

.articulos {
    margin-top: 10px;
    border-bottom: 1px dotted #008E97;
    padding-bottom: 10px;
}

.articulos img {
    max-width: 140px;
    margin-right: 10px;
}

.articulos h4 {
    color: #222222;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
}

.articulos h4 {
    color: #222222;
    font-size: 15px;
    text-align: left;
    margin-bottom: 10px;
}

.articulos p {
    color: #008E97;
    text-align: left;
    line-height: 20px;
}

.desc_articulo {
    text-align: right;
}

.seguir_leyendo {
    color: #F58220;
    text-decoration: none;
}

#cont_video_boletin > p {
    padding: 10px;
}

#video {
    width: 100%;
}


/*RECINTOS*/
#contedor_galeria {
    padding-left: 17%;
}

/*FOOTER*/

#pie_de_pagina {
    margin-top: 10px;
}

#footer_sup {
    background-color: #008E97;
    padding-left: 7px;
    padding-bottom: 15px;
    padding-right: 7px;
}

#cont_footer_sup {
    padding: 15px 0;
}

#contacto_footer,
#enviar_asunto,
#ubicacion {
    flex: 1;
}

#enviar_asunto {
    margin: 0 15px;
}

#titulo_footer_contacto {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 16px;
}


#titulo_footer_email {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 16px;
}

#titulo_footer_ubicaciones {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 16px;
}

#contacto_footer {
    color: rgba(255, 255, 255, 0.8);

}

#contacto_footer tr td {
    vertical-align: middle;

}

#form_enviar_asunto input[type="email"],
#form_enviar_asunto input[type="text"] {
    display: block;
    width: 100%;
    border: 0;
    margin: 0;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 7px;
    background-color: rgba(255, 255, 255, 0.8);

}

#form_enviar_asunto textarea {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 10px;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 7px;
}

#form_enviar_asunto input[type="submit"] {
    width: 84px;
    height: 33px;
    border: 0;
    margin: 0;
    color: #fff;
    background-color: #F58220;
    font-size: 13px;
}

#mapa {
    position: relative;
    padding-bottom: 60%;
}

#mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#copyright {
    color: rgba(255, 255, 255, 0.8);
    background-color: #217d9a;
    text-align: center;
    height: 54px;
    line-height: 54px
}

/* STIO RESPONSIVE*/

@media screen and (max-width: 1180px) {

    .container,
    #contacto_sup,
    #cont_footer_sup {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1170px) {
    .container {
        width: 100%;
    }

    #puntos {
        margin-left: -10px;
        margin-right: -10px;
    }

    @media screen and (max-width: 950px) {
        #contedor_galeria img {
            width: 310px;
        }
    }

    @media screen and (max-width: 767px) {

        .sombra_inferior {
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
        }

        .blanco_con_transparencia {
            background-color: rgba(255, 255, 255, 0.98) !important;

        }

        .menu_bar {
            display: block;
        }

        .menu_bar .bt-menu {
            display: block;
            padding: 15px 10px;
            color: #a9a9a8;
            overflow: hidden;
            font-size: 17px;
            font-weight: bold;
            text-decoration: none;
        }

        #contenedor_cabecera {
            position: fixed;
            background-color: #fff;
            width: 100%;
            z-index: 1000;
            height: 118px;
        }

        #navbar_sup {
            position: fixed;
            left: -100%;
            top: 118px;
            display: block;
            background-color: #008E97;
            height: calc(100% - 118px);
            overflow: scroll;
            width: 70%;
        }

        #navbar_sup li {
            margin: 0;
            padding: 0;
            height: auto;
        }

        #navbar_sup li a {
            display: block;
            padding: 10px 15px;
            line-height: 25px;
            text-align: left;
            border-bottom: 1px solid rgba(255, 255, 255, .5);
            color: #fff;
        }

        #navbar_sup li:hover .children {
            display: none;
        }

        #navbar_sup li a:hover {
            color: #fff;
        }

        #navbar_sup li .children {
            width: 100%;
            position: relative;
            background-color: #F58220;
        }

        /* STIO RESPONSIVE*/
        #cont_conectados {
            flex-wrap: wrap;
        }

        #contedor_galeria img {
            width: 250px;
        }

        #cont_articulos,
        #cont_video_boletin {
            flex: none;
            width: 100%;
        }

        #cont_articulos {
            padding-right: 0;
        }

        #cont_video_boletin {
            padding-left: 0;
        }

        #cont_footer_sup {
            flex-wrap: wrap;
        }

        #contacto_footer,
        #enviar_asunto,
        #ubicacion {
            flex: none;
        }

        #ubicacion {
            width: 100%;
            order: 3;
        }

        #contacto_footer {
            order: 1;
            width: 50%;
        }

        #enviar_asunto {
            order: 2;
            width: 50%;
            margin: 0;
        }
        

        .titulo_footer {
            font-size: 1px;
        }
    }
    
    @media screen and (max-width: 750px){
        #contedor_galeria img{
            width: 245px;
        }
    }

    @media screen and (max-width: 600px) {
        #email_sup {
            display: none;
        }
        
        #contedor_galeria img{
            width: 190px;
        }

        #contacto_sup {
            justify-content: center;
        }

        #contacto_footer,
        #enviar_asunto {
            width: 100%;
        }

        #contacto_footer {
            order: 1;
        }

        #enviar_email {
            order: 2;
            padding: 0;
            margin-top: 20px;
        }

        #ubicacion {
            order: 3;
        }
    }
    
    @media screen and (max-width: 400px) {
        
        .menu_bar .bt-menu {
            font-size: 14px;
        }
        
        .cont_titulo_seccion{
            padding-left: 100px;
        }
        
        #cont_conectados{
            padding-left: 40px;
        }
        
        #titulo_ultimos_articulos{
            padding-left: 36%;
            border-bottom: 0 !important;
        }
        
        #info_que_hacemos{
            padding-left: 15% !important;
            text-align: center;
        }
        #titulo_que_hacemos{
           padding-left: 38%;
            border-bottom: 0 !important;
            margin-top: 10px;
        }
        
        #video{
            padding-left: 14%;
        }
        
        #contedor_galeria img{
            width: 175px;
        }
        
        #footer_sup{
        background-color: white;
            padding-left: 110px;
        
        }
        
        #cont_footer_sup{
            padding-left: 10px;
            background-color: #008E97;
        }
        
        
    }
   